[Desktop Entry]
Type=Application
Name=tsx_cmd
Exec=systemctl --user start artesky_flat.service
X-MATE-Autostart-enabled=true
X-GNOME-Autostart-enabled=true
