[Desktop Entry]
Type=Application
Name=artesky_flatbox
Exec=systemctl --user start artesky_flatbox.service
X-MATE-Autostart-enabled=true
X-GNOME-Autostart-enabled=true
