[Unit]
Description=Artesky Flatbox server
After=multi-user.target syslog.target network.target remote-fs.target

[Service]
Type=idle
PIDFile=/var/run/artesky_srv.pid
WorkingDirectory=/home/odroid/src/artesky_flat_box/bin

ExecStartPre=/bin/rm -f /var/run/artesky_srv.pid
ExecStart=/home/odroid/src/artesky_flat_box/bin/artesky_srv --ip 192.168.0.1

Restart=always
RestartSec=10

ExecStop=/bin/kill -s QUIT $MAINPID
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
